<div class="login-wrapper">
    <h2>Welcome to WHospitals</h2>
  
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="username"
        name="username"
        required
      /><br>
  
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        required
      /><br>
  
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  
    <div class="divider">or</div>
  
    <button (click)="goToRegister()">Create Account</button>
  
    <p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
  </div>
  