<div class="dashboard-wrapper">
    <div class="left-side">
      <img src="assets\dashboardillustration.jpeg" alt="Hospital dashboard visual" />
    </div>
    <div class="right-side">
      <h1>Manage Your Hospital Appointments</h1>
      <p>Easily schedule, update, or cancel appointments with just a click. Keep your booking process smooth, efficient, and stress-free.</p>
      <div class="button-stack">
        <button>Create</button>
        <button>Update</button>
        <button>Delete</button>
      </div>
      
    </div>
  </div>
  