<div>
    <button (click)="onSelectUser()">

        <img [src]="imagePath" [alt]="name">
        <span>{{name}}</span>


    </button>
</div>


<!-- <div>
    <button (click)="onSelectUser()"> -->
        <!-- <img src="" alt=""> -->
        <!-- <span>NAME</span> -->


          <!-- Property Binding -->
          <!-- <img [src]=" 'assets/users/'+selectedUser.avatar" [alt]="selectedUser.name">  -->

         <!-- We can use getters for computated values. for that we need to modify it in the user.component.ts. --> 
        <!-- <img [src]="imagePath()" [alt]="selectedUser().name"> -->


        <!-- Outputing Dynamic content with String interpolation  -->
         <!-- <span>{{ selectedUser().name }}</span> -->

       
    <!-- </button>
</div> -->